@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-red {
  0% {
    filter: none;
  }
  50% {
    filter: sepia(100%) saturate(600%) hue-rotate(-25deg) brightness(90%);
  }
  100% {
    filter: none;
  }
}

.marker-pulse {
  animation: pulse-red 3s infinite ease-in-out;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

/* Foolproof Leaflet Reset */
.leaflet-container img.leaflet-marker-icon {
  max-width: none !important;
  max-height: none !important;
}
.leaflet-container .leaflet-overlay-pane svg, 
.leaflet-container .leaflet-marker-pane img, 
.leaflet-container .leaflet-shadow-pane img, 
.leaflet-container .leaflet-tile-pane img, 
.leaflet-container img.leaflet-image-layer {
  max-width: none !important;
  max-height: none !important;
}
